/* Βασικές ρυθμίσεις */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}
.hidden {
    display:none !important;
}
header {
    background-color: #8F565D;
    color: #fff;
    padding: 1.5rem 1rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

header h1 {
    margin: 0;
    font-size: 2.2rem;
}

header p {
    font-size: 1.1rem;
    margin-top: 0.5rem;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: 20px auto;
    background-color: #8F565D;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.category {
    margin-bottom: 50px;
}

.category:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.category h2 {
    color: #fff;
    font-size: 1.8rem;
    margin-bottom: 15px;
    padding-left: 10px;
    border-bottom: 1px solid #eee;
    text-align:center;
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 10px;
    border-bottom:1px solid #dedede;
    background: white;
}

.menu-item:last-child {
    border-bottom: none;
}

.menu-item h3 {
    margin: 0;
    font-size: 1rem;
    color: #8F565D;
    text-align:center;
    flex-grow: 1; /* Επιτρέπει στον τίτλο να πάρει τον διαθέσιμο χώρο */
}


.menu-item .price {
    font-weight: bold;
    color: #8F565D;
    font-size: 1rem;
    white-space: nowrap; /* Αποτρέπει την τιμή να σπάει γραμμή */
    margin-left: 15px; /* Απόσταση από τον τίτλο */
}

footer {
    text-align: center;
    padding: 1rem;
    margin-top: 30px;
    color: #777;
    font-size: 0.9rem;
    background-color: #eee;
}

/* ------------------------------------- */
/* Responsive Design (Media Queries)     */
/* ------------------------------------- */

/* Για οθόνες πλάτους έως 768px (ταμπλέτες και κινητά) */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.8rem;
    }

    main {
        margin: 10px;
        padding: 15px;
    }

    .category h2 {
        font-size: 1.2rem;
        text-align:center;
    }

    .menu-item {
        flex-wrap: wrap; /* Επιτρέπει στα στοιχεία να πέφτουν σε νέα γραμμή */
        align-items: center;
    }

    .menu-item h3 {
        width:100%;    
    }


    .menu-item .price {
        margin-left: 0;
        margin-bottom: 5px;
        width: 100%; 
        text-align: center; 
        width:50%;    
    }
}

/* Για οθόνες πλάτους έως 480px (μικρότερα κινητά) */
@media (max-width: 480px) {
    header h1 {
        font-size: 1.6rem;
    }

    header p {
        font-size: 1rem;
    }
    .menu-item h3,.menu-item .price {
        font-size:.8rem;    
    }
    
}
